.navbar-default {
  background-color: #4285f4;
  border-color: #2c5ca8; }
  .navbar-default .navbar-brand {
    color: #ffffff; }
    .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
      color: #fff; }
  .navbar-default .navbar-text {
    color: #ffffff; }
  .navbar-default .navbar-nav > li > a {
    color: #ffffff; }
    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
      color: #fff; }
  .navbar-default .navbar-nav > li > .dropdown-menu {
    background-color: #4285f4; }
    .navbar-default .navbar-nav > li > .dropdown-menu > li > a {
      color: #ffffff; }
      .navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover, .navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
        color: #fff;
        background-color: #2c5ca8; }
    .navbar-default .navbar-nav > li > .dropdown-menu > li.divider {
      background-color: #2c5ca8; }
  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #2c5ca8; }
  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #2c5ca8; }
  .navbar-default .navbar-toggle {
    border-color: #2c5ca8; }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
      background-color: #2c5ca8; }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #ffffff; }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: #ffffff; }
  .navbar-default .navbar-link {
    color: #ffffff; }
    .navbar-default .navbar-link:hover {
      color: #fff; }

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff; }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #fff; }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #2c5ca8; } }
main .box__dragndrop,
main .box__uploading,
main .box__success,
main .box__error {
  display: none; }
main .is-dragover {
  background-color: grey;
  border: 5px solid red; }
main .has-advanced-upload {
  outline: 2px dashed black;
  outline-offset: 0px; }
  main .has-advanced-upload .box__dragndrop {
    display: inline; }
main #status {
  margin-bottom: 20px; }
main #results .card {
  height: 300px;
  margin-bottom: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative; }
  main #results .card .card-header {
    max-height: 40%;
    overflow: hidden;
    padding-top: 20px; }
    main #results .card .card-header .img {
      height: 100%; }
    main #results .card .card-header .title {
      font-size: 18px; }
  main #results .card .card-body {
    margin-top: 10px;
    overflow: hidden; }
  main #results .card .card-footer {
    position: absolute;
    bottom: 0px;
    width: 96%;
    height: 30%;
    vertical-align: bottom;
    background-color: skyblue;
    margin: 2%;
    border-radius: 6px; }
    main #results .card .card-footer .v-space {
      height: 10%; }
    main #results .card .card-footer img {
      height: 60%;
      margin: auto; }
    main #results .card .card-footer .see-more {
      text-align: center;
      font-weight: bold; }

/*# sourceMappingURL=main.css.map */
