{% extends 'questions/base.html' %}
{% block title %}
Question Set {{ qset.id }}
{% endblock %}

{% block styles %}
    <style type="text/css" media="screen">
.add-set {
    float:right;
        margin-top: -40px;
}
    </style>
    {% endblock %}
{% block content %}
<div class="container-fluid">

    <div id='app' class="col-sm-7">
        {% verbatim %}

        <form class="form-group">
            <input class="form-control" placeholder="Search for questions." v-model="text">
            <input class="form-control" placeholder="Add tags to search" v-model="whitelist">
            <input class="form-control" placeholder="Blacklist tags to not search in" v-model="blacklist">
        </form>
        <div id="status" class="name">
            {{ status }}
        </div>
        <div v-for="(question, resKey) in questions" class="question">
            <div class="text">
                <pre>{{ question.text }} 
                </pre>
            </div>
            <button class="btn btn-info add-set" @click="addToSet(question.id)">Add</button>
            <div class="marks">
                {{ question.difficulty }}
            </div>
        </div>
        {% endverbatim %}
    </div>

    <div class="col-sm-5">
        Question set {{ qset.id }} of marks {{ qset.total_marks }} curently has {{ qset.questions.count }} question{{ qset.questions.count | pluralize }}.
        <div id="show">
            {% verbatim %}
            {{ status }}
            <div class="question" v-for="question in qset.questions">
                <br>
                <br>
                {{ question.text }}
            </div>
            {% endverbatim %}
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% load static %}
<script src="{% static 'js/main.js' %}"></script>
    <script>
        let id = {{ qset.id }}
    </script>
{% endblock %}
