{% extends 'questions/base.html' %}
{% block title %}
Question Paper
{% endblock %}
{% block styles %}
<style type="text/css" media="screen">
html, body {
  height: 99.5%;
}
main {
  height: 95%}

#left {
  overflow: scroll;
  height: 100%;
}

#top {
  margin-top: 10px;
}

#right {
  height: 100%;
}
#right #bottom {
  overflow: scroll;
  max-height: 75%;
}
#selector {
  z-index: 50;
  position: fixed;
  top: 50%;
  right: 58%;
  border-radius: 50%;
  padding: 8px;
  background: rgba(76, 175, 80, 0.8)
}

.hider {
  font-size: 10px;
  float: right;
}

div.hid {
  display: none;
}

div.nocare {
  background: white;
}

div.selected {
  background: lightgreen;
}

#taglist .nocare:hover {
  background: rgba(0,0,0,0.06);
}
.question {
  background: rgb(230,230,230);
}
.tags {
  margin-top: -10px;
}
.tag{
  padding: 1px 1px;
  text-align: center;
  float:right;
  border: 1px dashed gray;
  margin-right: 5px;
}

</style>
{% endblock %}
{% block content %}
<button id="selector" class="btn" onclick=selection()>
  <img src="https://icons-for-free.com/iconfiles/png/512/keyboard+arrow+right+24px-131985225827089442.png" height=30 width=30>
</button>
<div class="col-sm-5 col-md-5" id="left">
  {{ object.text | linebreaks | safe }}
</div>

<div class="col-sm-5 col-md-5" id="right">
  <div id=top>
    <form method="POST" action="/question/paper/{{ object.id }}/add">
      {% csrf_token %}
      <textarea id="question_sel" cols=60 rows=7 name="text"/>
      </textarea>
      <label> Tags: <input id="taglist" type="text" name="tags"></label>
      <label> Difficulty: <input id="difficulty" type="text" name="difficulty"></label>
      <br>
      <button type="submit" class="btn btn-success" id="add-button">Add</button>
    </form>
  </div>
  <div id=bottom>
    <b>{{ object.questions.count }} questions{{ questions | pluralize}}</b> extracted.

    <br>
    {% for question in object.questions.all %}
    <div class="question">
      {{ question.text | linebreaks | safe }}
    </div>
    <div class="tags row">
      {% for tag in question.tags.all %}
      <div class="tag col-sm-2">
        {{ tag }}
      </div>
      {% endfor %}
      <a href="{% url 'questions:delete_q'  question.id %}">
        <div class="btn btn-danger tag delete col-sm-2">
          Delete
        </div>
      </a>
      {% if question.difficulty %}
      <div class="btn btn-info tag col-sm-1">
        {{ question.difficulty }}
      </div>
      {% endif %}
    </div>
    <br>
    {% endfor %}
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
</div>

<div id="taglist" class="col-sm-2">
  {% include "questions/tag.html" with tag_list=root.children.all %}
</div>
{% endblock %}

{% block scripts %}
<script>

  tl = $('#taglist')
  $(document).ready(function(){
    var str = {% if object.tag_str %} "{{ object.tag_str }}" {% else %} "" {% endif %}
    tl.val(str)
    str.split(",").map(function(item){
      item = item.trim()
      if(item.length){
        $('div[tagName="'+item+'"]').addClass('selected')
        $('div[tagName="'+item+'"]').removeClass('nocare')
      }
      return null
    })

  })



  $('.hider').click(function(e){
    e.stopPropagation()
    $(this).parent().children().toggleClass('hid')
    this.innerHTML = this.innerHTML == '(show)' ? '(hide)' : '(show)'
  })

  function selection(){
    p = window.getSelection().toString()
    if(p) {
      document.getElementById('question_sel').value = p
    }
    else {
      document.getElementById('question_sel').value = ""
    }
  }


  function removeSel(ell){
    tag = ell.getAttribute('tagName')
    $(ell).removeClass('selected')
    $(ell).addClass('nocare')
    curr = tl.val()
    curr = curr.replace(tag, "");
    curr = curr.replace(", ,", ",");
    tl.val(curr)
    $(ell).children('.selected').each(function(i, val) {
      removeSel(val)
    })
  }

  $('#taglist div').click(function(e){
    tag = this.getAttribute('tagName');
    if (this.className == 'nocare')
    {
      $(this).removeClass('nocare')
      $(this).addClass('selected')
      curr = tl.val()
      if (curr.length>0)
        curr += ', '
      curr += tag
      curr = curr.replace(", ,", ",")
      tl.val(curr)
      if ($(this).parent().hasClass('selected'))
        e.stopPropagation()
    }
    else if (this.className == 'selected'){
      e.stopPropagation()
      removeSel(this)
    }
    else {
      alert("something went wrong")
    }
  });
</script>
{% endblock %}
